@model art_gallery.ViewModel.ArtDetailViewModel

<h2>Index</h2>

@foreach (var item in Model.ArtListings)
{
  <h4>@item.Title</h4>
  <div><a href="/Home/@item.ArtWorkId"><img src="@item.Image" alt="@item.Title" /></a></div>
  <div><a href="@item.PurchaseURL">Buy this art</a></div>
}